{{ template "header.html" .}}
<title> help</title>
<!-- <div class="in-div">
    <img class="img" src="img1.jpg">
</div> -->
<div class="help-content">
    <div class="box">
        <details>
            <summary class="question">
                Кто ты по масти?
            </summary>
            <p class="ansver">Пидор</p>
        </details>
    </div> 
</div>
<!-- <div class="in-content">
    <div class="box2">
        <h2>
            Fine, and you?
        </h2>
    </div>
</div> -->

{{ template "footer.html" .}}